
Regression/Decision tree/.ipynb_checkpoints/Decision Tree-checkpoint.ipynb

Regression/Random Forest/.ipynb_checkpoints/Random Forest-checkpoint.ipynb

Regression/Decision tree/.DS_Store

Regression/.DS_Store

.DS_Store

Neural Network/MNIST/mnist-test.csv

Neural Network/MNIST/mnist-train.csv
